@import "tailwindcss";

@theme {
	/* Dark shades */
	--color-dark-900: #111111;
	--color-dark-700: #757575;
	--color-dark-500: #aaaaaa;

	/* Light shades */
	--color-light-100: #ffffff;
	--color-light-200: #f5f5f5;
	--color-light-300: #e5e5e5;
	--color-light-400: #cccccc;

	/* Supporting colors */
	--color-green: #007d48;
	--color-red: #d33918;
	--color-orange: #d37918;

	/* Font family */
	--font-jost: "Jost", sans-serif;

	/* Heading sizes */
	--text-heading-1: 72px;
	--text-heading-1--line-height: 78px;
	--text-heading-1--font-weight: 700;

	--text-heading-2: 56px;
	--text-heading-2--line-height: 60px;
	--text-heading-2--font-weight: 700;

	--text-heading-3: 24px;
	--text-heading-3--line-height: 30px;
	--text-heading-3--font-weight: 500;

	--text-heading-4: 20px;
	--text-heading-4--line-height: 28px;
	--text-heading-4--font-weight: 500;

	/* Lead */
	--text-lead: 20px;
	--text-lead--line-height: 28px;
	--text-lead--font-weight: 500;

	/* Body */
	--text-body: 16px;
	--text-body--line-height: 24px;
	--text-body--font-weight: 400;

	--text-body-medium: 16px;
	--text-body-medium--line-height: 24px;
	--text-body-medium--font-weight: 600;

	/* Caption */
	--text-caption: 14px;
	--text-caption--line-height: 20px;
	--text-caption--font-weight: 500;

	/* Footnote */
	--text-footnote: 12px;
	--text-footnote--line-height: 18px;
	--text-footnote--font-weight: 400;
}

input[type="checkbox"] {
	@apply w-4 h-4 checked:accent-black border border-gray-200 rounded-sm;
}

button:hover {
	&:disabled {
		@apply cursor-auto;
	}
	@apply cursor-pointer;
}

/* spinner/processing state, errors */
.spinner,
.spinner:before,
.spinner:after {
	border-radius: 50%;
}

.spinner {
	color: #ffffff;
	font-size: 22px;
	text-indent: -99999px;
	margin: 0px auto;
	position: relative;
	width: 20px;
	height: 20px;
	box-shadow: inset 0 0 0 2px;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}

.spinner:before,
.spinner:after {
	position: absolute;
	content: "";
}

.spinner:before {
	width: 10.4px;
	height: 20.4px;
	background: "black";
	border-radius: 20.4px 0 0 20.4px;
	top: -0.2px;
	left: -0.2px;
	-webkit-transform-origin: 10.4px 10.2px;
	transform-origin: 10.4px 10.2px;
	-webkit-animation: loading 2s infinite ease 1.5s;
	animation: loading 2s infinite ease 1.5s;
}

.spinner:after {
	width: 10.4px;
	height: 10.2px;
	background: "black";
	border-radius: 0 10.2px 10.2px 0;
	top: -0.1px;
	left: 10.2px;
	-webkit-transform-origin: 0px 10.2px;
	transform-origin: 0px 10.2px;
	-webkit-animation: loading 2s infinite ease;
	animation: loading 2s infinite ease;
}

@keyframes loading {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes fadeInAnimation {
	to {
		opacity: 1;
	}
}
